# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Bash
*.swp

# Maven
log/
target/
.mvn

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# specific to this project
linux.x64_11gR2_database_*.zip